*	{
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
	background: transparent;
}

::selection {
	background: transparent;

}



// Colors
$header-background: lightblue;

$header-font-color: white;

$button-background: #464646;
$button-background-hover: #262626;

// Typografie
$font-stack:    Helvetica, sans-serif;
$font-size-text: 16px;
$font-size-title: 36px;
$button-fontsize: 20px;


body	{
	margin: 0;
	background: white;
    font: 100% $font-stack;
}


h1 {
	font-size:$font-size-title;
	height: 70px;
	margin-top: 0;
	color: $header-font-color;
	background: $header-background; 
	text-align: center;
	font-weight: 400;
	padding-top: 13px;
	box-shadow: 1px 3px;
}


.list {
    position:relative; 
    color:#555;
    font-size:$font-size-text;
    padding:20px 0;
    width:100%;
	li {
	    position:relative; 
	    list-style:none;
	    height:auto;
	    padding:10px 40px 10px 10px;
	    border-bottom:1px dotted #ccc;
	    cursor:pointer;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    height: 50px;
	    transition: height 2s;
	    &:nth-child(odd){
			background: #F0F0F0;
		}
		&:after {
			display:block;
			float:right;
		    color:red;
		    top:10px;
		    left:12px;
		}
		&:hover {
			height: 100px;
		}
	}
}


.haken:after {
    content:"✔";
}



.button {
	margin:auto;
    display:block;
    width: 80px;
    height: 80px;
    line-height: 50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: white;
    text-align: center;
    text-decoration:none;
    background: $button-background;
    font-size: $button-fontsize;
    font-weight: bold;
 	padding-top: 11px;
 	transition: background 1s;
 	&:hover {
    background: $button-background-hover;
	}
}



textarea {
	font-family: $font-stack;
	font-size: $font-size-text;
	width: 98%;
    display: table;
    margin: 0 auto 50px;
	height: 200px;
}

